# ── VM Connection ──────────────────────────────────────────────────────────────
VM_HOST=<CHANGE_ME>
VM_USER=<CHANGE_ME>
VM_PASSWORD=<CHANGE_ME>

# ── App Secrets (from VM .env, written by deploy workflow) ────────────────────
ABDM_AUTH_ENABLED=false
NHCX_AUTH_ENABLED=false
ABDM_SECRET_KEY=dev
NHCX_SECRET_KEY=dev
ABDM_TOKEN_EXPIRY_DAYS=1
NHCX_TOKEN_EXPIRY_DAYS=1
FORGENSIC_SECRET_KEY=dev
FORGENSIC_AUTH_ENABLED=false
FORGENSIC_TOKEN_EXPIRY_DAYS=1
MYSQL_USER=dpi_logger
MYSQL_PASSWORD=Tanuh12345!