ABDM_AUTH_ENABLED=false
NHCX_AUTH_ENABLED=false
ABDM_SECRET_KEY=your-abdm-secret-key
NHCX_SECRET_KEY=your-nhcx-secret-key
ABDM_TOKEN_EXPIRY_DAYS=1
NHCX_TOKEN_EXPIRY_DAYS=1
FORGENSIC_SECRET_KEY=your-forgensic-secret-key
FORGENSIC_AUTH_ENABLED=false
FORGENSIC_TOKEN_EXPIRY_DAYS=1
REDIS_URL=redis://localhost:6379/0
SESSION_LOGGER_URL=http://localhost:8002
GOOGLE_APPLICATION_CREDENTIALS=./gcp-service-account.json
MYSQL_USER=your-mysql-user
MYSQL_PASSWORD=your-mysql-password
